singularity.enabled = true

process {
  executor = 'local'
  container = '/zstor/containers/singularity/align-to-reference.img'
  queue = 'hns,owners'
}

executor {
    name = 'slurm'
    queue = 'hns,owners'
    queueSize = 200
    pollInterval = '30 sec'
    clusterOptions = '--no-requeue'
}

params {
  subsample = false
  genomeFasta  = '/zstor/2016-tiger-wgs/reference/panthera-10x-170301.fasta'
  genomeIndex  = '/zstor/2016-tiger-wgs/reference/panthera-10x-170301.fasta.fai'
  genomeDict   = '/zstor/2016-tiger-wgs/reference/panthera-10x-170301.dict'
  optical_duplicate_pixel_distance = 2500
}