process.executor = 'slurm'
process.queue = 'hns,owners'
//process.clusterOptions = '#SBATCH --no-requeue'

params {
  genomeFasta  = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/GCF_000464555.1_PanTig1.0_genomic.fna'
  genomeIndex  = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/GCF_000464555.1_PanTig1.0_genomic.fna.fai'
  genomeDict   = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/GCF_000464555.1_PanTig1.0_genomic.fna.dict'
  picardDir    = '/scratch/PI/dpetrov/local/opt'
  gatkDir      = '/scratch/PI/dpetrov/local/opt'
  params.popgenomics = '/scratch/PI/dpetrov/containers/singularity/popgenomics.img'
}